<!-- Analytics -->
<script>
    function loadAnalyticsOnConsent() {
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?585aa804a23bac96ce370404099c6c0c";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();

        (function() {
            var busuanzi = document.createElement("script");
            busuanzi.src = "//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(busuanzi, s);
        })();
    }
    
</script>