<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in site.posts%}
  <div>

    <h2>
     <a href="{{ BASE_PATH }}{{ post.url }}" style="text-decoration: none;">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}  </a>
     <h4>{{post.date | date_to_long_string}}</h4> </h2>


    {% assign paragraphs = post.content | split:'</h2>' %}
    {% if post.lang %}
    <p lang="{{post.lang}}">
    {% else %}
    <p>
    {% endif %}
    
    {% if post.lang == "zh-Hans-CN" %}
    {{ post.excerpt | strip_html | truncatewords:2 }}
    {% else %}
    {{ post.excerpt | strip_html | truncatewords:80 }}
    {% endif %}
    </p>
    <p>
    <a href="{{ BASE_PATH }}{{ post.url }}">Read more</a>
    </p>
   </div>
   <hr/>

  {% endfor %}
</div>